<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle"
                                 src="{{.admin.user.Avatar}}"
                                 alt="User profile picture">
                        </div>

                        <h3 class="profile-username text-center">{{.admin.user.Nickname}}</h3>

                        <p class="text-muted text-center">{{.admin.user.Username}}</p>

<!--                        <ul class="list-group list-group-unbordered mb-3">-->
<!--                            <li class="list-group-item">-->
<!--                                <b>Followers</b> <a class="float-right">1,322</a>-->
<!--                            </li>-->
<!--                            <li class="list-group-item">-->
<!--                                <b>Following</b> <a class="float-right">543</a>-->
<!--                            </li>-->
<!--                            <li class="list-group-item">-->
<!--                                <b>Friends</b> <a class="float-right">13,287</a>-->
<!--                            </li>-->
<!--                        </ul>-->

                        <a href="javascript:;" class="btn btn-primary btn-block"><b>{{if eq .admin.user.Id 1}}超级管理员{{else}}普通账号{{end}}</b></a>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">个人信息</a></li>
                            <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">修改密码</a></li>
                            <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">修改头像</a></li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="activity">
                                <!-- Post -->
                                <form class="form-horizontal">
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">昵称</label>
                                            <div class="col-sm-10">
                                                <input type="email" class="form-control" value="{{.admin.user.Nickname}}" >
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="offset-sm-2 col-sm-10">
                                                <button type="submit" class="btn btn-danger">修改</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-footer -->
                                </form>
                                <!-- /.post -->
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="timeline">
                                <form class="form-horizontal">
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label  class="col-sm-2 col-form-label">旧密码</label>
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control" >
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label  class="col-sm-2 col-form-label">新密码</label>
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control" >
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">确认新密码</label>
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control" >
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="offset-sm-2 col-sm-10">
                                                <button type="submit" class="btn btn-danger">修改</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-footer -->
                                </form>
                            </div>
                            <!-- /.tab-pane -->

                            <div class="tab-pane" id="settings">
                                <form class="form-horizontal">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-2 col-form-label">文件</label>
                                        <div class="col-sm-10">
                                            <input type="file" class="form-control" id="inputName" >
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="offset-sm-2 col-sm-10">
                                            <button type="submit" class="btn btn-danger">修改</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->

</section>

<script>
</script>